body{
margin: 0;
height: 600px;
width: 600px;
margin-left: auto;
margin-right: auto;
font-family: Georgia, 'Times New Roman', Times, serif;

}

main {
display: inline-block;
}

#doglopedia {
background-color: rgba(219, 213, 152, 0.3);
height: 100px;
color: rgb(148, 118, 83);
text-align: center;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    padding: 10px;
    color: grey;
}
nav{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left:  150px;
    text-decoration: dotted;
}

hr{
    color: rgba(211, 211, 211, 0.603);
}

#image{
background-image: url(/images/Fransk\ Bulldogg.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 300px;
width: 300px;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
}

.dog {
    text-align: center;
    color: grey;
}
