body{
margin: 0;
height: 600px;
width: 600px;
margin-left: auto;
margin-right: auto;
font-family: Georgia, 'Times New Roman', Times, serif;

}

main {
display: inline-block;
}

#doglopedia {
background-color: rgba(219, 213, 152, 0.3);
height: 100px;
color: rgb(148, 118, 83);
text-align: center;
padding-top: 20px;
padding-bottom: 50px;
margin-top: 10px;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a {
    padding: 10px;
    color: rgb(61, 61, 61);
    text-decoration-style: dotted;
}

nav{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:  150px;
}

hr {
    color: rgb(224, 217, 217);
    border-bottom: 0.8px;
}

#image {
background-image: url(images/Fransk\ Bulldogg.jpeg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 300px;
width: 300px;
border-radius: 50%;
border: 1px solid black ;
margin-left: auto;
margin-right: auto;
}

footer {
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-bottom: 40px;
}
